<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>服装登録画面</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <body>
        <header>
            <h1>服装登録画面</h1>
        </header>

        <div>
            <div>
                <div class="container col-4 mb-5">
                    <label for="formFileMultiple" class="form-label">本日の服装の写真を選択してください</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
            </div>
        </div>
        <div class="main container mb-5">
            <div class="">
                <p>本日はどちらでお過ごしでしたか？</p>
                <select name="pref">
                    <option value="" selected>都道府県</option>
                    <option value="1">北海道</option>
                    <option value="2">青森県</option>
                    <option value="3">岩手県</option>
                    <option value="4">宮城県</option>
                    <option value="5">秋田県</option>
                    <option value="6">山形県</option>
                    <option value="7">福島県</option>
                    <option value="8">茨城県</option>
                    <option value="9">栃木県</option>
                    <option value="10">群馬県</option>
                    <option value="11">埼玉県</option>
                    <option value="12">千葉県</option>
                    <option value="13">東京都</option>
                    <option value="14">神奈川県</option>
                    <option value="15">新潟県</option>
                    <option value="16">富山県</option>
                    <option value="17">石川県</option>
                    <option value="18">福井県</option>
                    <option value="19">山梨県</option>
                    <option value="20">長野県</option>
                    <option value="21">岐阜県</option>
                    <option value="22">静岡県</option>
                    <option value="23">愛知県</option>
                    <option value="24">三重県</option>
                    <option value="25">滋賀県</option>
                    <option value="26">京都府</option>
                    <option value="27">大阪府</option>
                    <option value="28">兵庫県</option>
                    <option value="29">奈良県</option>
                    <option value="30">和歌山県</option>
                    <option value="31">鳥取県</option>
                    <option value="32">島根県</option>
                    <option value="33">岡山県</option>
                    <option value="34">広島県</option>
                    <option value="35">山口県</option>
                    <option value="36">徳島県</option>
                    <option value="37">香川県</option>
                    <option value="38">愛媛県</option>
                    <option value="39">高知県</option>
                    <option value="40">福岡県</option>
                    <option value="41">佐賀県</option>
                    <option value="42">長崎県</option>
                    <option value="43">熊本県</option>
                    <option value="44">大分県</option>
                    <option value="45">宮崎県</option>
                    <option value="46">鹿児島県</option>
                    <option value="47">沖縄県</option>
                </select>
            </div>
        </div>
        <div class="main container">
            <div class="form-check">
                <p>今日の体感はいかがでしたか？</p>
                <button type="button" class="btn btn-primary px-4" data-bs-toggle="button"
                    autocomplete="off">寒い</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">少し寒い</button>
                <button type="button" class="btn btn-primary px-4" data-bs-toggle="button"
                    autocomplete="off">快適！</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">少し暑い</button>
                <button type="button" class="btn btn-primary px-4" data-bs-toggle="button"
                    autocomplete="off">暑い</button>
            </div>
        </div>
        <div class="container btn-gr mt-5">
            <div class="row">
                <div class="col">
                    <a href="./top.html" type="button" class="btn btn-outline-primary btn-lg px-5">登録</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    </body>

</html>